body{
  font-family: tekton pro;
  background: #1f1f1f;
}
.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.3s ease;
  color: #1f1f1f;
}

.cell.winning {
  background-color: #ffc107;
}

.cell:hover {
  background-color: #f8f9fa;
}

.board-row {
  display: flex;
  
  background-color: white;
  
}



.winner {
  color: green;
  font-weight: bold;
}

.scoreboard {
  text-align: left;
  margin-top: 20px;
  background: white;
  color: #1f1f1f;
  padding: 2vh;
  border-radius: 0.8vh;
}

.flex-box{
  display: flex;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.container{
  padding: 10vh 16vh;
  width: auto;
  filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.25));
  background-color: white;

}

.rightpart{
  
  min-width: 300px;
  margin-left: 8vh;
}

.btn{
margin-top: 36px;
padding: 8px 24px;
background-color: #1f1f1f;
border: none;
}
.btn:hover{
  background-color: black;
  color: white;
  border: none;
}


a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
 
}
a:hover{
  color: #f8f9fa;
  text-decoration: none;
}
