*{
    margin: 0;
    padding: 0;
    font-family: tekton pro;
}
body{
    background-color: #1f1f1f;
}
.bg{
    flex: 1;
    display: flex;
    max-width: 700px;
}
.btn{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 400px;
    height: 78px;
    font-weight: 600;
    gap: 24px;
}
a{
    background-color: #292929;
    height: 78px;
    border-radius: 200px;
    border: none;
    color: #ffff;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.butt1{
    background-color: #292929;
    height: 78px;
    border-radius: 200px;
    border: none;
    color: #ffff;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 400px;
    cursor: pointer;
}
.butt1:hover{
    background-color: #1f1f1f;
}
.butt2{
    background-color: #292929;
    height: 78px;
    border-radius: 200px;
    border: none;
    color: #ffff;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.container{
    display: flex;
    align-items: center;
    display: inline-flex;
    align-items: center;
    gap: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 4vh;
}